@import url('https://fonts.cdnfonts.com/css/bankgothic-md-bt');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #58c0e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'BankGothic', sans-serif;
}



.gameWrapper{
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


h2{
    font-size: 32px;
}



#score{
    font-size: 1.3rem;
    letter-spacing: 12px;
}



canvas{
    background: #d7f2ff;
    border-radius: 10%;
    image-rendering: pixelated;
}



.info{
    display: flex;
    gap: 16px;
    margin-bottom: 5px;
}



button{
    padding: 12px;
    background-color: #d9ae14;
    border-radius: 10%;
    border: 2px solid #58c0e6;
    transition: 0.5s ease;
}



.gameOver{
    color: #bf4824;
    font-size: 1.5rem;
}



button:hover{
    background: #300483;
    color: white;
}



@media screen
and (min-width: 1280px)
and (max-width: 1440px)
and (min-width: 800px)
and (max-width: 900px)
{
    body{
        padding: 20px;
    }


    .gameWrapper{
        transform: scale(0.9);
        gap: 20px;
    }


    h2{
        font-size: 28px;
    }



    canvas{
        width: 360px;
        height: 360px;
    }



    .info{
        font-size: 1rem;
        gap: 12px;
    }



    button{
        padding: 10px 10px 18px 18px;
        font-size: 1rem;
    }



    .gameOver{
        font-size: 1.3rem;
    }
}




.controls{
    display: none;
    flex-direction: column;
    gap: 10px;
}



.controls button{
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
}



@media(max-width: 768px) {
    .controls{
        display: flex;
    }


    canvas{
        width: 300px;
        height: 300px;
    }
}